h1 {
    background-image: url("ezyheader.gif");
    background-size: cover;
    color: white;
    text-align: center;
}

#mayfly_chart {
    max-width: 60em;
    margin: auto;
}

#mayfly_chart table {
    width: 100%;
}

table {
    border-collapse: collapse;
}

tr {
    border: 2px solid lightgrey;
    border-bottom: none;
}

tr:last-of-type {
    border-bottom: 2px solid lightgrey;
}

tr.selected {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

td {
    padding: 2px;
}

td.cool {
    background: linear-gradient(lightgreen, white);
}

td.warm {
    background: linear-gradient(#ffbf80, white);
}

td.bin_data p {
    text-align: center;
    font-weight: bold;
    margin: 3px 0;
}

th.time {
    font-size: 1em;
    line-height: 1;
    vertical-align: top;
    width: 4em;
}

th.time span {
    background-color: white;
    border: 2px solid lightgray;
    position: relative;
    top: calc(-0.5em - 2px);
    padding: 2px;
}

tr.selected th.time span {
    border: 2px solid black;
    background-color: yellow;
}

p.arr {
    background-color: #6699ff;
}

p.dep {
    background-color: #ff9933;
}

.bin p.arr, .bin p.dep {
    cursor: pointer;
}

.hidden {
    display: none;
}

#key table {
    margin: 1em 0 1em auto;
    width: 15em;
}

#key table, #key tr {
    border-style: none;
}

#services {
    float:left;
    width: 15em;
    font-size: larger;
}

#services::placeholder {
    color: #e0e0e0;
}

li.ezy span.service {
    font-weight: bold;
}
